* {
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
}

.title {
    background-color: rgb(230, 75, 60);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.article {
    width: 200px;
    padding: 15px;
}

.article img {
    width: 200px;
    height: auto;
}

.title h1 {
    color: rgb(235, 240, 240);
}

h2 {
    color: rgb(230, 75, 60);
}